.arrowbg{
  overflow: hidden;
}

.arrowbgInner{
      background-color: #F5F3F2;
    height: 100%;
    min-height: 5.5em;
    border: 1px solid #0000;
    position: relative;
    margin: 0 0 0 1em;
    width:90%;
    padding: 1em;
}
.arrowbgInner span.arrow{
      border: 20px solid #F5F3F2;
    border-bottom: none;
    border-color: #0000 #F5F3F2 #0000 #F5F3F2;
    position: absolute;
    left: -31px;
    top: 2em;
    transform: rotate(-90deg);
}

.arrowbgInner span.arrow:before{
  content: '';
    position: absolute;
    width: 500000em;
    bottom: 0;
    height: 20px;
    background: #F5F3F2;
    right:20px;
}

.arrowbgInner span.arrow:after{
  content: '';
    position: absolute;
    width: 500000em;
    bottom: 0;
    height: 20px;
    background: #F5F3F2;
    left:20px;
}
