.nuc_button, .post-comments form .button, .illy_comments .btn {
    @include set_type_styles(base);
    background: $nuc_orange;
    color: #fff;
    display: inline-block;
    padding: 0.5em 1.1em;
    margin: 0 0 30px 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid $nuc_orange;
    &.nuc_buttonMacro{
        margin:initial;
    }
    &:nth-child(2) {
        background: rgba(0, 0, 0, 0);
        border: 1px solid $nuc_orange;
        color: $nuc_orange;
        margin:0 0 0 1em;
        &:hover{
            background: inherit;
            color: $nuc_grey;
            border: 1px solid $nuc_grey;
        }
    }
    &.fullListings:after{
        content:none;
        margin-left: none;
    }
    &.fullListings:before{
        content: '\f0d9';
        font-family: 'Fontawesome';
        margin-right: .5em;
        display: inline;
    }
    &:after {
        content: '\f0da';
        font-family: 'Fontawesome';
        margin-left: .5em;
    }
    &.white {
        background: #fff;
        color: $nuc_orange;
    }
    &:hover {
        background: $nuc_grey;
        color: #fff;
        text-decoration: none;
        border-color: $nuc_grey;
    }
}

.post-comments{
    .toggle-comments{
        &:after{
            content: initial;
            margin-left: 0;
        }
        i{
            margin-left: 0.5em;
        }
    }
    form .button{
        &:nth-child(2) {
            margin-bottom: 30px;
        }
    }
} 

@mixin nucBtn {
    background: $nuc_orange;
    color: $nuc_light;
    border-radius: 0px;
    border: 0px;
    font-size: 17px;
    line-height: 21px;
    padding: 12px 18px;
    transition-duration: 0.3s;
    &:hover {
        background-color: $nuc_grey;
        color: $nuc_light;
    }
}