.illy_comments{
    hr{
      height: 1px;
      background: $nuc_orange;
    }
    .comments{
      display: none;
    }
    .prev-comms{
      .comment{
        padding: .5em;
        border: 2px solid $nuc_light;
      }
      p{
        font-size: inherit;
      }
      h3{
        font-size: 24px;
      }
    }
    .prev-comms + .add-comm{
      border-top: 1px solid $nuc_slate;
      padding-top: 2em;
    }
  }