// tabs
.page-node-type-drag-and-drop-page{
    .az-tabs.tabs-left .nav-tabs{
      margin-right: -1px;
    }
    .az-tabs.tabs-left .nav-tabs>li:first-of-type{
      margin-top: -1px;
    }
    .tabs-left>.tab-content, .tabs-right>.tab-content{
      background: #fff;
      border-radius: 0;
    }

    blockquote{
      border: none;
    }
}

article[about*="technical-studio"] {
   overflow-x: hidden;
}
