////////////////////////////////////////////////////////////////////////
// grid filter styles
.hp-grid {
    .grid-item {
        background: #fff;
        @include transition(all ease $trans_speed);
        span,
        .grid_desc {
            display: block;
            padding: .5em;
            &.grid_img {
                padding: 0;
                height: 165px;
                overflow: hidden;
            }
            span {
                padding: 0;
            }
        }
        .grid_header {
            background: $nuc_grey;
            color: #fff;
            font-size: 14px;
            span {
                display: inline-block;
                padding: 0;
                &:last-of-type {
                    float: right;
                }
            }
        }
        .grid_desc {
            .title {
                font-size: 1.25em;
                padding: 1em 0;
                line-height: 1.25;
                height: 100px;
                overflow: hidden;
                a {
                    @include transition(all ease $trans_speed);
                    color: $nuc_orange;
                    display: block;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            span {
                color: $nuc_grey;
                @include transition(all ease $trans_speed);
            }
        }
        &:hover {
            background: $nuc_orange;
            .grid_desc .title a {
                color: #fff;
            }
            cursor: pointer;
            span {
                color: #fff;
            }
        }
    }
    .grid_block_header {
        margin-bottom: 1em;
        display: flex;
        @media(max-width: 760px) {
            display: block;
        }
        [data-drupal-selector="edit-actions"],
        #edit-actions,
        .form-item-field-pos-target-id {
            display: none;
        }
    }
    .postCounts,
    .grid_filters {
        margin-bottom: 0
    }
    .grid_filters {
        display: flex;
        @media(min-width: 760px) {
            box-shadow: 2em 0 0 0 $nuc_light inset;
        }
        span {
            padding: .5em;
            display: none;
        }
        form {
            background: $nuc_orange;
            position: relative;
            width: 100%;
            padding: 0;
            border: none;
        }
        .form-type-select {
            width: 100%;
        }
        .select-wrapper {
            width: 100%;
        }
        .select-wrapper select.form-select {
            width: 100%;
            border: 1px solid transparent;
            color: #fff
        }
    }
    ////////////////////////////////////////////////////////////////////////
    // pretty select needs to be added
    .prettyselect-wrap {
        background: $nuc_orange;
        color: #fff;
        position: relative;
    }
    .select-wrapper::after {
        content: none;
    }
    .prettyselect-label {
        padding: .5em;
        min-width: 100%;
        box-sizing: border-box;
        i {
            float: right;
            margin-top: .25em;
        }
    }
    .prettyselect-drop {
        position: absolute;
        min-width: 100%;
        background: $nuc_orange;
        box-shadow: 0px 1px 2px rgba($nuc_grey, .15) inset;
        padding-bottom: 0;
        z-index: 999;
        list-style: none;
        padding: 0;
        li {
            background: rgba(#fff, 0);
            @include transition($trans_speed ease all);
            padding: .5em;
            color: #fff;
            cursor: pointer;
            &:hover {
                background: rgba(#fff, .15);
                box-shadow: 0px 0px 2px rgba($nuc_grey, .15);
                color: #fff;
            }
        }
    }
    .postCounts {
        padding-top: .5em;
        padding-bottom: .5em;
        background: $nuc_light;
        margin-left: 15px;
        @media(max-width: 760px) {
            margin: 0;
            box-shadow: 15px 0 0 0 #fff inset, -15px 0 0 0 #fff inset;
            ul {
                display: flex;
                width: 100%;
                li {
                    float: none;
                    display: inline-block;
                    margin: 0;
                    width: 100%;
                    text-align: center;
                }
            }
            span {
                display: none;
            }
        }
        ul {
            overflow: auto;
            padding: 0;
            margin: 0;
            line-height: 1;
            opacity: 1;
            @include transition($trans_speed ease all);
            &.is-active {
                opacity: 0
            }
        }
        li {
            float: left;
            margin: 0 25px 0 0;
            list-style: none;
        }
        i {
            margin: 0 5px 0 0;
        }
    }
}

.nuc-postIcon {
    &:after {
        font-family: FontAwesome;
    }
    &.videos {
        &:after {
            content: "\f008";
        }
    }
    &.downloads {
        &:after {
            content: "\f0ed";
        }
    }
    &.articles {
        &:after {
            content: "\f0f6";
        }
    }
    &.events {
        &:after {
            content: "\f073";
        }
    }
}

.pullup-ctas {
    margin-top: -11em;
    .az-column.col-sm-3 {
        margin: 0 .5em 2em !important;
        padding: 1em !important;
        background: rgba( 245, 243, 242, 0.5);
        a img {
            margin-bottom: 2em;
        }
        br {
            display: none;
        }
    }
    @media(max-width: 1200px) {
        margin-top: 1em;
    }
}

.hp-hero-section {
    padding: 15% 0 5%;
    @media(min-width: 1200px) {
        padding: 10% 0 15%;
    }
}

////fix for full-width///
.bee-flower-section {
    padding: 0;
}