// Hubspot form basic styles
.nuc-cntcFm {
  fieldset {
    max-width: 1060px !important;
  }
  li {
    list-style: none;
  }
  .field input {
    border: 0;
    line-height: 2.2;
    background-color: $nuc_light;
    padding-left: 0.3em;
  }
  input[type="text"],input[type="email"],input[type="tel"] {
    width: 95%;
    min-height: 35px;
    margin-bottom: 1em;
    &::placeholder{
      color: $nuc_grey;
    }
  }
  input[type="radio"], input[type="checkbox"] {
    margin-right: 1em;
  }
  input[type="submit"] {
    background: $nuc_orange;
    color: $nuc_light;
    border-radius: 0px;
    border: 0px;
    font-size: 17px;
    line-height: 21px;
    padding: 12px 18px;
    transition-duration: 0.3s;
    &:hover {
      background-color: $nuc_grey;
      color: $nuc_light;
    }
  }
  select, p, input[type="submit"] {
    margin-bottom: 1em;
  }
  label span, a:hover {
    color: $nuc_grey;
  }
  .actions {
    text-align: center;
    padding: 1em;
  }
}

// -----------

@media screen and (max-width:532px) {
  .nuc-cntcFm {
    .form-columns-2 .hs-form-field {
      width: 100% !important
    }
  }
}

// -----------

.hs-light-text {
  color: #FFF;
  label span {
    color: #FFF;
  }
}

.hs-dark-button {
  background-color: $nuc_grey;
}

.hs-light-input {
  .field input {
    background-color: #FFF;
    color: $nuc_grey;
  }
}

.hs-hide-labels {
  form label {
    visibility: hidden;
  }
}
