#block-illuminatead{
    margin-top:1em;
    img{
        width:100%;
        max-width:400px;
    }
}
@media(max-width: 500px){
    #block-illuminatead{
        img{
            max-width:90%;
        }
    }
}


.nucpro{
  margin-top: 2em;
}
