.nucOrange{
    color:$nuc_orange;
}
.glazed-footer .footer-container{
  padding-top: 0!important;
}
.hs_deets{
  background: #fafafa;
  padding: 1em;
  margin-bottom: 2em;
  display: none
}
body.user-logged-in{
  .hs_deets{
    display: block;
  }
}

.panel-group.block_toggles{
  .panel{
    margin-bottom: 1em;
    .panel-heading{
      border-radius: 0!important;
      color: #fff;
      padding: 0;
      .panel-title{
        padding: 0;
        &:before{
          content: '';
          display: none;
        }
      }
      a{
        display: block;
        padding: 1em .5em;
        background: $nuc_orange;
        @include transition($trans_speed ease all);
        &.collapsed{
          background: $nuc_grey;
        }
        &:hover, &:focus{
          color: #fff;
        }
      }
    }
  }
}
