#glazed-main-menu .menu.nav.navbar-nav {
  li {
    @media(min-width: 1200px) {
      height: 2em;
      display: inline-block;
      margin-top: 50px;
      a {
        height: 2em;
        line-height: inherit;
        padding: 0 0 0 25px;
        &.is-active {
          color: $nuc_orange;
        }
      }
    }
  }
  a {
    text-transform: none;
    &:hover {
      color: $nuc_orange;
    }
  }
}

.btn {
  border-radius: 0;
  border: none;
  &.btn-default {
    background: $nuc_orange;
  }
}

// pagination
.pagination {
  li.pager__item {
    a {
      border-radius: 0;
      color: $nuc_grey;
      border:1px solid $nuc_light;
      padding: 1em 1.4em;
    }
    a:hover {
      background: rgba($nuc_light, .5);
    }
    &.active {
      a,
      a:hover {
        background: $nuc_orange;
        color: #fff;
        border:1px solid $nuc_orange;
      }
    }
  }
}