div.newsletter-box{
    background-color:$nuc_orange;
    padding:1em;
    color:white;
    width:inherit;
    margin-bottom: 25px;
    position: relative;
    input{
        margin:0 0 0.5em;
    }
    input[type=Email]{
        border: none;
        padding: 0.5em;
        width: 94%;
        color: $nuc_grey;
        &::placeholder{
          color: $nuc_grey;
        }
    }
    h3{
        color: #fff;
        padding-top: 0;
    }
    .hs-email{
      label{
        display: none;
      }
    }
    .hs-form-required{
        display: none;
    }
    .nuc-cntcFm input[type=submit] {
        background: #fff;
        color: $nuc_orange;
        border: none;
        padding: .25em 1em;
        line-height: 2;
    }
    .hs-error-msgs.inputs-list{
        position: absolute;
        bottom: 2em;
        padding-left: 1em;
    }

    .nuc-cntcFm{
      color: #fff;
      .legal-consent-container{
        color: #fff;
        margin: 0 0 1em 0;
        a{
          color: inherit;
          text-decoration: underline;
        }
        .inputs-list{
          margin: .5em 0;
          padding-left: 0;
          li{
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
            &> label{
              display: flex;
              input{
                width: auto;
                margin: .25em;
              }
            }
          }
        }
      }
      label span, a:hover {
        color: #fff;
      }
    }
}
