.page-title{
    h1{
        color: $nuc_grey;
    }
    padding: 1.2em 0;
    background: $nuc_light;
    margin-bottom: 30px;
}

.post-featured-image{
    margin-bottom: 30px;
}

.post-author{
    margin-bottom: 30px;
}

.post-body{
    margin: 0 0 30px 0;
    padding: 0;
    p {
        font-size: 1em;
        padding-top: 0em;
        padding-bottom: 1.05882em;
        line-height: 1.7;
    }
}
