.region-searchbar .block-views-exposed-filter-blocksearch-page-1,
.region-searchbar .block-views-exposed-filter-blocksearch-authors-page-1 {
  form {
    @extend .inner;
    .form--inline {
      box-shadow: none;
      width:100%;
      @media(min-width: 768px) {
        display: flex;
      }
      @media(max-width:768px) {
        .form-item {
          width: 100%;
        }
      }
      input[type="text"] {
        box-shadow: none;
        display: block;
        width: 100%;
        border: 1px solid $nuc_slate;
        color: $nuc_grey;
        padding: .25em;
        box-sizing: border-box;
        background-position: 98% center !important;
        border-radius: 0;
        background: #fff;
        height: 100%;
        &:focus {
          outline: none;
        }
      }
      label.control-label {
        display: none;
        @media(min-width: 768px) {
          &[for*="edit-sort-by"] {
            display: inline-block;
            padding: .5em;
            margin-left: 1em;
            height: 100%;
            ~.select-wrapper {
              float: right;
            }
          }
        }
      }
      .form-actions {
        position: relative;
        background: $nuc_orange;
        overflow: hidden;
        height: 2.5em;
        padding: 1.3em;
        @media(min-width: 768px) {
          width: 2.5em;
          margin-left: .5em;
        }
        &:after {
          content: "\f002";
          font-family: FontAwesome;
          padding: .5em .5em;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          width: 100%;
          height: 100%;
          background: #fff;
          color: $nuc_orange;
          box-sizing: border-box;
          pointer-events: none;
          @include transition(all, .5s ease);
        }
        &:hover {
          &:after {
            background: $nuc_orange;
            color: #fff;
          }
        }
      }
      .form-item.form-item-sort-order {
        display: none;
      }
      .form-submit {
        cursor: pointer;
        background: $nuc_orange;
        border: none;
        @include set_type_styles(base);
        color: $nuc_orange;
        border-radius: 0;
      }
      .form-type-select {
        .select-wrapper {
          height: 100%;
          &::after {
            content: unset;
          }
          select {
            height: 100%;
            border: 0;
            border-radius: 0;
            padding: .5em;
            background: $nuc_orange;
            color: #fff;
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}