// used for social links on the post template
.social-link-container{
  position: absolute;
}
.layout-social-links{
  display: flex;

  @media (max-width: 1360px){
    flex-direction: row;
    position: initial;
    a{
      margin-right: .2em;
      margin-left: .2em;
    }
    aside{
      padding-left: 0;
    }
  }
  @media (min-width: 1361px){
    padding: 0 1em;
    width: 3em;
    min-width: 3em;
    position: absolute;
    display: block;
    top: 0;
    left: -2.5em;
    padding: 0;
    a{
      margin: 0 .25em .25em 0;
    }
  }
  a{
    text-decoration: none;
    text-align: center;
    background: #fff;
    display: block;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    &[href*="mailto:"]{
      svg{ stroke: #fff; }
      &:hover svg{ stroke: $nuc_grey; }
    }
    &:hover svg {
      stroke: #fff;
      fill: #fff;
      background: $nuc_orange;
    }
    @media (min-width: $bp_inner){
      margin: 0;
      display: inline-block;
    }
  }
  svg {
    @include transition(all .5s ease);
    stroke: $nuc_grey;
    fill:   $nuc_grey;
    background: #fff;
    border:1px solid rgb(112, 101, 93);
    width: 2em;
    height: 2em;
    padding: .5em;
    display: block;
  }
}
