.collectionListPageContainer{
  .postCollectionContainer{
    padding: 2em 0;
    .psotCollection{
      padding: 1em;
      margin-right: auto;
      margin-left: auto;
      max-width: 66em;
    }
  }
}