footer{
  border-top: 4px #f78f21 solid;
  background-color: #F5F3F2;

  .footerWrapper {
    display: grid;
    grid-template-areas: "nucleuslogo nucleuslogo illuminatelogo" "address address illuminateblurb" "legalblurb legalblurb legalblurb";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 3fr;
    padding: 1em;
    max-width: 66em;
    margin: 0 auto;
    @media (max-width: $small_mobile_width) {
      grid-template-columns: 1fr;
      grid-template-areas: "illuminatelogo" "illuminateblurb" "nucleuslogo" "address" "legalblurb";
      grid-template-rows: auto;
    }
    #nucleuslogo{
      grid-area: nucleuslogo;
    }
    #illuminateblurb{
      grid-area: illuminateblurb;
    }
    #illuminatelogo{
      grid-area: illuminatelogo;
    }
    #address{
      grid-area: address;
    }
    #legalblurb{
      grid-area: legalblurb;
    }
  }
  p{
    font-size: 75%;
  }
}