.lyt_card_4col{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-column-gap: 2%;
  grid-row-gap: 1.3em;
  .illuminatePost {
    background: #fff;
  }
}
.lyt_list_adspace, .lyt_3_col_list{
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  .illuminatePost{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid;
  }
}
.lyt_3_col_list{
  grid-template-columns: 1fr 1fr 1fr;
}
.lyt_list_adspace{
  grid-template-columns: 33% 33%;
}
.lyt_card_feature_first{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 1em;
  .illuminatePost {
    background: #fff;
  }
}
.lyt_card_feature_first, .lyt_strip_3row_2col, .lyt_feature_card_strip, .lyt_2_cards_4_strips, .lyt_latest, .lyt_card_4col{
  .metaContainer {
    padding: 1em;
  }
}
.lyt_strip_3row_2col, .lyt_feature_card_strip, .lyt_2_cards_4_strips{
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  .illuminatePost {
    background: white;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
  }
}
.lyt_strip_3row_2col, .lyt_feature_card_strip{
  grid-template-columns: 1fr 1fr;
}
.lyt_2_cards_4_strips{
  grid-template-areas: "firstPost secondPost thirdPost" "firstPost secondPost fourthPost" "firstPost secondPost fifthPost" "firstPost secondPost sixthPost";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr;
  .illuminatePost {
    &:nth-child(1) {
      grid-area: firstPost;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      display: block;
    }
    &:nth-child(2) {
      grid-area: secondPost;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      display: block;
    }
    &:nth-child(3) {
      grid-area: thirdPost;
    }
    &:nth-child(4) {
      grid-area: fourthPost;
    }
    &:nth-child(5) {
      grid-area: fifthPost;
    }
    &:nth-child(6) {
      grid-area: sixthPost;
    }
  }
}
.lyt_feature_card_strip{
  grid-template-areas: "mainPost secondPost" "mainPost thirdPost" "mainPost fourthPost" "mainPost fifthPost" "mainPost sixthPost";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  .illuminatePost {
    &:nth-child(1) {
      grid-area: mainPost;
    }
    &:nth-child(2) {
      grid-area: secondPost;
    }
    &:nth-child(3) {
      grid-area: thirdPost;
    }
    &:nth-child(4) {
      grid-area: fourthPost;
    }
    &:nth-child(5) {
      grid-area: fifthPost;
    }
    &:nth-child(6) {
      grid-area: sixthPost;
    }
    &:first-of-type {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      summary{
        display: block;
      }
    }
  }
}
.lyt_latest{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "mainPost mainPost mainPost mainPost" "secondPost thirdPost fourthPost fifthPost";
  grid-template-rows: 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 1.3em;
  .illuminatePost {
    background: #fff;
    &:nth-child(1) {
      grid-area: mainPost;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      summary{
        display: block;
      }
    }
    &:nth-child(2) {
      grid-area: secondPost;
    }
    &:nth-child(3) {
      grid-area: thirdPost;
    }
    &:nth-child(4) {
      grid-area: fourthPost;
    }
    &:nth-child(5) {
      grid-area: fifthPost;
    }
  }
}

// temp removal of elelments
.lyt_list_adspace, .lyt_3_col_list, .lyt_feature_card_strip{
  .readTime, .category, .date, .author, summary {
    display: none;
  }
}
.lyt_strip_3row_2col{
  .date, .readTime, .category {
    display: none;
  }
}
.lyt_card_feature_first, .lyt_card_4col, .lyt_strip_3row_2col, .lyt_latest{
  summary{
    display: none;
  }
}
.lyt_feature_card_strip{
  .illuminatePost:first-of-type{
    .readTime, .category, .date, .author{
      display: block;
    }
  }
}
.lyt_2_cards_4_strips{
  .readTime, .category, .date, summary {
    display: none;
  }
  .illuminatePost:nth-child(1), .illuminatePost:nth-child(2){
    .readTime, .category, .date {
      display: block;
    }
  }
}
.readTime {
  position: absolute;
  z-index: 1;
  color: $nuc_grey;
  background: $nuc_light;
  padding: 0 0.5em;
  margin: 0.7em;
  font-size: small;
  &:after {
    content: " min read"
  }
}
.illuminatePost{
  .category, .postTitle, summary{
    margin-bottom: 1em
  }
  .date, .author, .category{
    font-size: small;
  }
}