header{
  background: #fff;
  .headerWrapper{
    margin: 0 auto;
    max-width: 66em;
    padding: 1.7em 1em 0.2em;
    display: grid;
    grid-template-areas: "logo pageNav";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    align-items: center;
    #logo{
      grid-area: logo;
    }
    #hamburgerLabel {
      grid-area: hamburgerLabel;
    }
    #pageNav {
      background: #fff;
      justify-items: end;
      font-size: 90%;
      display: flex;
      flex-direction: row-reverse;
      grid-area: pageNav;
      a {
        color: #777;
      }
      ul {
        display: flex;
        li{
          padding: 1em;
          margin-bottom: 0;
        }
      }
    }
    label, #hamburger {
      display: none;
    }
    @media screen and (max-width: $tablet_width){
      grid-template-areas: "logo hamburgerLabel" "pageNav pageNav";
      label {
        display: inline-block;
        font-size: 2em;
        flex-direction: row-reverse;
        display: flex;
      }
      #pageNav{
        ul {
          display: none;
          margin: 0 auto;
          li {
            display: block;
            width: 100%;
            text-align: center;
          }
        }
      }
      input:checked ~ #pageNav ul {
        display: inline-flex;
      }
    }
    @media screen and (max-width: $small_mobile_width){
      #pageNav ul{
        flex-direction: column;
      }
    }
  }
}