.pagination{
  margin: 1em auto;
  text-align: center;
  display: block;
  ul{
    display: inline-flex;
    li {
      display: flex;
      a{
        padding: 0.7em calc(1vw + 0.4em);
        margin: 0;
        background: #fff;
        border: 1px solid $nuc_light;
        color: $nuc_grey;
      }
    }
  }
  .currentPage span{
    padding: 0.7em calc(1vw + 0.4em);
    margin: 0;
    background: $nuc_orange;
    border: 1px solid $nuc_light;
    color:#fff;
  }
}