.collection_hero{
  position: relative;
  margin-bottom: 2em;
  background: $nuc_grey;
  .bg-me{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: 0;
  }
  .hero-content{
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: 0 auto;
    width: 80%;
    h2,h3,div{
      text-align: center;
    }
  }
  &.bgimg .hero-content{
    h2,h3,div{
      color: #fff;
    }
  }

  .inner{
    background: #fff;
    padding: 0 2em 2em;
  }
}

.collections{
  background: $nuc_light;
  .region-content, .card-display.container{
    padding: 0;
  }
  .container {
    overflow-x: hidden;
  }
  .feature-row {
    .card-display.lyt_card_4col, .card-display.lyt_latest {
      .row{
        @media (min-width: 992px){
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-flex-direction: row;
          flex-direction: row;
          .article-card{
            -webkit-flex: 1;
            flex: 1;
          }
        }
      }
    }
  }
}
.collection_hero, .feature-content{
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  &.bg_clr_lemon{background: $nuc_secondary_yellow;}
  &.bg_clr_lime{background: $nuc_lime;}
  &.bg_clr_ruby{background: $nuc_secondary_pink;}
  &.bg_clr_sea{background: $nuc_secondary_turquoise;}
  &.bg_clr_slate{background: $nuc_slate;}
  &.bg_clr_steel{background: $nuc_secondary_blue;}
  &.bg_clr_tangerine{background: $nuc_orange;}
  &.bg_clr_violet{background: #b081b9;}
  &.bg_clr_white{background: #fff;}

  &.txt_clr_lemon{color: $nuc_secondary_yellow;}
  &.txt_clr_lime{color: $nuc_lime;}
  &.txt_clr_ruby{color: $nuc_secondary_pink;}
  &.txt_clr_sea{color: $nuc_secondary_turquoise;}
  &.txt_clr_slate{color: $nuc_slate;}
  &.txt_clr_steel{color: $nuc_secondary_blue;}
  &.txt_clr_tangerine{color: $nuc_orange;}
  &.txt_clr_violet{color: #b081b9;}
  &.txt_clr_white{color: #fff;}
  &.imgattach_fixed{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

.collection_hero{
  background: $nuc_light;
  color: $nuc_grey;

  h2,h3,p{
    color: inherit;
  }

  padding: 4em 0;
}

.feature-row{
  // background: $nuc_light;
  position: relative;
  overflow: auto;
  .bg-me{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: 0;
  }
  &.feature-content{
    position: relative;
    z-index: 1;
    padding: 2em 0;
    margin: 0 auto;
    background-size: cover;
    background-position: center;


    .container-fluid{
      padding: 0;
    }
    h2,h3,a{
      text-align: left;
      color: inherit;
    }
  }
}

.hide_link a{
  pointer-events: none;
}

.article-list{
  margin-bottom:1em;
  &:after{
    @media (max-width: 991px){
      display: none;
    }
    content:"";
    background: $nuc_grey;
    position: absolute;
    bottom: 1px;
    height: 1px;
    width: 92%;
    left: 15px;
  }
}

  .lyt_feature_card_strip, .lyt_2_cards_4_strips{
    display: flex;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    & > div:first-child{
      margin-right: 0;
      padding-right: 0;
      display: flex;
      @media (max-width: 991px) {
        display: block;
      }
    }
    & > div:last-child{
      padding-right: 0;
      @media (max-width: 991px) {
        margin-right: 0;
      }
    }
  }

.lyt_strip_3row_2col {
  @media (max-width: 991px) {
    display: flex;
    .row {
      width: 100%;
      padding-right: 0;
    }
    .article-strip{
      padding-right: 0;
    }
  }
}

.lyt_card_feature_first {
  @media (max-width: 800px) {
    .row {
      display: flex;
      flex-direction: column;
      }
    }
  }

  .lyt_list_adspace, .lyt_3_col_list {
    @media(max-width: 991px) {
      div[class*='addspace'] {
        display: none;
      }
      .row div {
          &[class*='featured_image'] {
            width: 20%;
          }
          &[class*='info'] {
            width: 80%;
            display: inline-block;
          }
        }
      & > div:first-child div {
        display: flex;
        flex-direction: row;
        hr {
          display: none;
        }
      }
    }
    @media(max-width: 600px) {
      .row div {
          [class*='featured_image'] {
            width: 30%;
          }
          [class*='info'] {
            width: 70%;
          }
        }
    }
  }

.lyt_card_2col {
  & > div:first-child{
  display: flex;
  }
  & > div:nth-child(2) {
    padding-right: 0px;
  }
}
