#block-nuc-admin-subtheme-content .entity-browser-form .nuc-glazed-browser .views-row .field-content{
    position: absolute;
    z-index: 1;
    top: 65px;
    left: 6px;
}

.nuc-glazed-browser .field-content{
    position: absolute;
    z-index: 1;
    top: 65px;
    left: 6px;
}
