.humanCapitalHeader{
  background-color: #007289; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #0098a9 , #007289);
  padding: 2em 0;
  h1{
    color: #fff;
  }
  img.img-responsive{ margin: auto }
}