.read_time {
  height: 25px;
  background-color: #FFF;
  padding-right: 4px;
  padding-left: 4px;
  margin: 14px;
  text-align: center;
  position: absolute;
  z-index: 200;
  font-size: .8em;
  width: 42%;
  max-width: 102px;
  i {padding-right: 0.3em;}
  div{display: inline-block;}
}

.lyt{opacity: .25;}
.placeholder{
  *{opacity: 0}
  .featured_image, .inner, .info{
    background: #fff!important;
    opacity: .5;
  }
  .inner{
    position: relative;
    opacity: .5;
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

[data-pull="right"]{
  .feature-strip .featured_image, .feature-strip-full .featured_image{
    background-position: center right;
  }
}


////////////////////////////////////////
// CARDS


[class*="article-strip"], [class*="article-card"] {
  .title { font-size: 18px; }
  .featured_image { background-size: cover; }
  .info { min-height: 107px; }
}

// cards
.article-card, .article-card-resource, .article-card-hr{
  margin-bottom: 1em;
  color: $nuc_grey;
  .inner{
    height: 100%;
    background: #fff;
  }
  .meta ,.collection-description,
  p[class="summary"], p[class="meta"] {
    padding: 10px;
  }
  p[class="cat"]{
    padding: 10px;
    font-size: .75em;
  }
  img{ width: 100%; }
  .title{
    padding: 10px;
    height: 5em;
    font-size: 18px;
    a, a:visited, a:active{
      display: block;
      color: $nuc_orange;
    }
  }
  &[class*="extended"]{
    .title{
      height: auto;
    }
  }
  span{
    display: block;
    font-size: .75em;
  }
  span:nth-child(2) {
    margin-top: -6px
  }
  .imgholder{
    width: 100%;
    height: 0;
    padding-bottom: 55%;
    display: block;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 0 100px 35px rgba($nuc_grey, .15) inset;
  }
  .meta{
    @media(max-width: 991px){
      position: static;
    }
  }
}

.article-card-extended{
  @extend .article-card;
}




// Strips
.article-strip{
  display: flex;
  color: $nuc_grey;
  margin-bottom: 1em;
  &.feature-strip, &.feature-strip-full{
    margin-bottom: 2em;
  }
  .featured_image{
    display: block;
    padding: 0;
  }

  p[class="cat"]{ font-size: .75em; }
  .info{
    background: #fff;
    padding: 1em;
    span{
      display: block;
      font-size: .75em;
    }
    h2 a, h2 a:visited, .title a, .title a:visited {
      color: $nuc_orange;
    }
  }
  @media(max-width: 991px){
    // display: block;
    width: 100%;
    .featured_image{
      // padding-bottom: 55%;
      // height: 0;
      width: 20%;
    }
    .info{
      width: 80%;
    }
  }
  @media(max-width: 600px){
    display: block;
    width: 100%;
    .featured_image{
      padding-bottom: 55%;
      height: 0;
      width: 100%;
    }

    .info{
      width: 100%;
    }
  }
}


.feature-strip{
  @extend .article-strip;
  margin-bottom: 2em;
  .meta{
    @media(min-width:800px){
      // position: absolute;
      bottom: 0;
    }
    margin-top: 1em;
    img {
      border-radius: 100%;
      width: 38px;
      height: 38px;
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;
    }
    span {
      float: left;
    }
    .metafix {
      line-height: 20px;
      display: flex;
      flex-direction: column;
    }
  }
  .featured_image{
    background-position: center center;
    background-size: cover;
    padding-bottom: 36.75%;
    @media (max-width: 600px) {
      padding-bottom: 55%;
    }
  }

  @media (max-width: 1199px) {
       > div:last-child div {
        [class*='featured_image']{
          padding-right: 0;
        }
      }
    p {
      font-size: 14px
    }
    h2 {
      font-size: 24px;
    }
  }

  @media (max-width: 991px) {
      [class*='featured_image']{
        padding-right: 0px;
        display: flex;
        width: 50%;
      }
      [class*='summary'] {
        display: none;
      }
      .info{
        width: 50%;
      }
    }
  @media (max-width: 800px) {
    [class*='featured_image'], .info{
      width: 100%;
    }
    h2 {
      font-size: 20px;
    }
  }
  @media (max-width: 800px) {
          display: flex;
          flex-direction: column;

    }

}
.feature-strip-full{
  @extend .feature-strip;
}

// Lists
.article-list{
  hr{
    background: $nuc_grey;
    margin: 1em 0;
    display: block;
    width: 100%;
    clear: both;
  }
  a{
    color: $nuc_orange;
  }
  .featured_image{
    padding: 0;
    a{
      width: 100%;
      display: block;
      height: 0;
      padding-bottom: 55%;
      background-size: cover;
      background-position: center;
    }
  }
  [class*="col-"]{
    margin-bottom: 1em;
  }
  .info{
    min-height: 70px;
  }
}


@media (max-width:990px){
  .link-list .article-list{
    text-align: center;
    .featured_image{
      padding-right: 15px;
      padding-left: 15px;
      a{
        height: auto;
        padding-bottom: 0
      }
      img{
        display: inline-block;
      }
    }
  }

}


////////////////////////////////////////
// TEMPLATES

.lyt_card_feature_first{
  & > div{
    display: flex
  }
}

// Lists
.lyt_list_adspace{
  display: flex;
  .row.col-md-3{
    margin-left: 0;
  }
  .addspace{
    display: block;
    padding: 0;
    height: 100%;
    // background: rgba($nuc_orange,.5);
    a{
      float: right;
    }
    img{
      width: auto
    }
  }
}
