.exploreHeader {
  text-align: center;
  margin: 2em;
}
#postCount{
  font-weight: 100;
}
.exploreContainer{
  background-color: #F5F3F2
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-column-gap: 2%;
  grid-row-gap: 2em;
  justify-items: stretch;
  align-items: stretch;
}
.metaContainer {
  padding: 0.8em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-items: stretch;
  align-items: stretch;
}
/* .pagination{
  margin: 1em auto;
  text-align: center;
}
.pagination ul{
  display: inline-flex;
}
.pagination li {
  display: flex;
}
.pagination .currentPage span{
  padding: 0.7em calc(1vw + 0.4em);
  margin: 0;
  background: #f78f21;
  border: 1px solid #F5F3F2;
  color:#fff;
}
.pagination li a{
  padding: 0.7em calc(1vw + 0.4em);
  margin: 0;
  background: #fff;
  border: 1px solid #F5F3F2;
  color: #836e5d;
} */
/* a{
  text-decoration: none;
} */
.illuminatePost {
  background: #fff;
}
/* header{
  background: #fff;
}
.headerWrapper{
  margin: 0 auto;
  max-width: 66em;
  padding: 1.7em 1em 0.2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  grid-column-gap: 2%;
}
#pageNav {
  width: 100%;
  background: #fff;
}
#pageNav label, #hamburger {
  display: none;
}
@media screen and (max-width: 48em){
  #pageNav label {
    display: inline-block;
  }

  #pageNav ul li {
    display: block;
    border-bottom: 1px solid #F5F3F2;
    width: 100%;
    text-align: center;
  }

  #pageNav ul {
    display: none;
  }
  #pageNav input:checked ~ ul {
    display: block;
  }
}
nav{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  align-items: end;
  font-size: 90%;
}
nav a {
  padding: 1em;
  color: #777;
}
nav ul {
  display: flex;
} */
main{
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width:66em;
}
footer{
  border-top: 4px #f78f21 solid;
  background-color: #F5F3F2
}
.footerWrapper {
  display: grid;
  grid-template-areas: "nucleuslogo nucleuslogo illuminatelogo" "address address illuminateblurb" "legalblurb legalblurb legalblurb";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 3fr;
  padding: 1em;
  max-width: 66em;
  margin: 0 auto;
}
@media (max-width: 30em) {
  .footerWrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "illuminatelogo" "illuminateblurb" "nucleuslogo" "address" "legalblurb";
    grid-template-rows: auto;
  }
}
#nucleuslogo{
  grid-area: nucleuslogo;
}
#illuminateblurb{
  grid-area: illuminateblurb;
}
#illuminatelogo{
  grid-area: illuminatelogo;
}
#address{
  grid-area: address;
}
#legalblurb{
  grid-area: legalblurb;
}
footer p{
  font-size: 75%;
}
@media (min-width: 30em) {
}

@media (min-width: 36em) {
}

@media (min-width: 48em) {
}